<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Простой список покупок!</title>

    <style>
        input[type=button],
        input[type=submit] {
            background-color: rgb(43, 153, 91);
            border: 1px solid rgb(33, 126, 74);
            color: #fff;
            padding: 10px 15px;
            text-decoration: none;
            cursor: pointer;
            box-sizing: border-box;
            outline: none;
            border-radius: 10px;
            height: 35px;
            font-weight: 600;
        }

        input[type=text] {
            border-radius: 5px;
            padding:10px;
            border:0;
            box-shadow:0 0 15px 4px rgba(0,0,0,0.09);

        }


    </style>
</head>
<body>
<h2>Простой список покупок!</h2>
<form th:method="POST" th:action="@{/list/add}" th:object="${item}">
    <label for="text">Что купить: </label>
    <input type="text" th:field="*{text}" id="text"/>
    <br/>
    <br/>
    <label for="tag">Где купить: </label>
    <input type="text" th:field="*{tag}" id="tag"/>
    <br/>
    <br/>
    <input type="submit" value="Добавить!"/>
</form>
<br/>


<div th:each="item : ${items}">
    <table>
        <ol>
            <tr>
                <td>
                    <li>
                        <a th:text="${item.getText()}">item</a>
                        <a th:text="${item.getTag()}">item</a>


                        <input type="checkbox" th:checked="*{item.isCheck()}"/>
                    </li>
                </td>

                <td>
                    <form th:method="POST" th:action="@{/list/check/{id}(id=${item.getId()})}" th:object="${item}">
                        <input type="submit" value="Куплено"/>
                    </form>
                </td>
        </ol>
        </tr>
    </table>
</div>
<br/>
<br/>

<table>
    <tr>
        <td>
            <form th:method="delete" th:action="@{/list/delall}" th:object="${items}">
                <input type="submit" value="Очистить весь список"/>
            </form>
        </td>

        <td>
            <form th:method="delete" th:name="isChecked" th:action="@{/list/delcheck}" th:object="${items}">
                <input type="submit" value="Удалить все отмечанные"/>
            </form>
        </td>
    </tr>
</table>

</body>
</html>